.item-page {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "picture detail"
    "review review";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 30rem auto;
}

.item-img {
  grid-area: picture;
  width: 100%;
  padding: 2rem;
  object-fit: contain;
}

.item-details {
  grid-area: detail;
  padding-left: 4rem;
}

.item-heading {
  font-size: 3rem;;
}

.add-to-cart {
  font-size: 1.2rem;
  cursor: pointer;
}

.add-to-cart:hover {
  color: red;
}

.price-and-descript {
  position: relative;
  bottom: 0;
}

.item-price {
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reviews-panel {
  grid-area: review;
  margin-top: 2rem;
}

h3 {
  text-align: center;
}