.SignUpPage {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-submit {
  width: inherit
}

.login-prompt {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}